
@mixin pop-text-mixin(  $first-color, $second-color, $third-color, $fourth-color, $fifth-color, 
                        $sixth-color, $seventh-color, $eighth-color, $ninth-color, $tenth-color) {
    color: black; 
    text-shadow:
        0 0 0.1vw $first-color,
        0 0 0.1vw $first-color,
        0 0 0.1vw $first-color,
        0 0 0.4vw $first-color,
        0 0 0.8vw $first-color,
        0.5vw 0.5vw 0.1vw rgba($second-color, 0.5), 
        1vw 1vw 0.2vw rgba($third-color, 0.45), 
        2vw 3vw 0.3vw rgba($fourth-color, 0.40),
        3vw 2vw 0.4vw rgba($fifth-color, 0.35),
        4vw 5vw 0.6vw rgba($sixth-color, 0.30), 
        5vw 4vw 0.8vw rgba($seventh-color, 0.25),
        6vw 7vw 1vw rgba($eighth-color, 0.20),
        7vw 6vw 1.2vw rgba($ninth-color, 0.15),
        8vw 8vw 1.4vw rgba($tenth-color, 0.1);
}

@mixin pop-text {
    @include pop-text-mixin($first, $second, $third, $fourth, $fifth, $sixth, $seventh, $eighth, $ninth, $tenth); 
    animation: pop-text-kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes pop-text-kf {
    0%  {
        @include pop-text-mixin($first, $second, $third, $fourth, $fifth, $sixth, $seventh, $eighth, $ninth, $tenth); 
    }
    10%   {
        @include pop-text-mixin($tenth, $first, $second, $third, $fourth, $fifth, $sixth, $seventh, $eighth, $ninth); 
    }
    20%  {
        @include pop-text-mixin($ninth, $tenth, $first, $second, $third, $fourth, $fifth, $sixth, $seventh, $eighth);
    }
    30%  {
        @include pop-text-mixin($eighth, $ninth, $tenth, $first, $second, $third, $fourth, $fifth, $sixth, $seventh);
    }
    40%  {
        @include pop-text-mixin($seventh, $eighth, $ninth, $tenth, $first, $second, $third, $fourth, $fifth, $sixth);
    }
    50%  {
        @include pop-text-mixin($sixth, $seventh, $eighth, $ninth, $tenth, $first, $second, $third, $fourth, $fifth);
    }
    60%  {
        @include pop-text-mixin($fifth, $sixth, $seventh, $eighth, $ninth, $tenth, $first, $second, $third, $fourth);
    } 
    70%  {
        @include pop-text-mixin($fourth, $fifth, $sixth, $seventh, $eighth, $ninth, $tenth, $first, $second, $third);
    }
    80%  {
        @include pop-text-mixin($third, $fourth, $fifth, $sixth, $seventh, $eighth, $ninth, $tenth, $first, $second);
    }
    90%  {
        @include pop-text-mixin($second, $third, $fourth, $fifth, $sixth, $seventh, $eighth, $ninth, $tenth, $first);
    }       
}



