:host {
    display: flex;
    height: 80vh;
    color: white; 
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        font-family: unset;
        font-size: 16vw;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 4vw;
        margin-right: -4vw;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    :host {
        height: 30vh;
    }
}