:host {
    h1, h2, h3, h4, p {
        color: white;
    }
    h1 {
        font-size: 3.5vw;
        font-weight: 600;
        font-family: unset;
        letter-spacing: 2px;
    }
    p {
        font-size: 1.5vw;
        font-weight: 300;
        font-family: unset;
        letter-spacing: 1px;
        line-height: 1.5em;
    }

    @media screen and (max-width: $breakpoint-tablet) {
        h1 {
            font-size: 7vw;
        }
        p {
            font-size: 5vw;
            letter-spacing: 0;
        }
    }
}