:host {
    height: 5vh;
    nav {
        display: flex;
        justify-content: space-around;
        a {
            color: white;
            font-size: 2em;
            letter-spacing: 5px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                text-shadow: 0px 0px 10px #ffffff;
                transition: text-shadow 0.3s ease;
            }
        }
    }
}