:host {
    display: flex;
    align-items: center;
    height: 20vh;
    nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        a {
            color: white;
            font-size: 3vw;
            font-weight: 200;
            padding: 2vh;
            letter-spacing: 8px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                text-shadow: 0px 0px 50px #ffffff, 0px 0px 50px #ffffff;
                transition: text-shadow 0.1s ease;
                transition: font-weight 0.1s ease;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    :host {
        height: 3vh;
        nav {
            a {
                font-size: 5vw;
                letter-spacing: 2px;
                padding: 2vh;
            }
        }
    }
}