
@mixin pop-text-mixin($first-color, $second-color, $third-color, $fourth-color, $fifth-color, $sixth-color) {
    color: black; 
    text-shadow:
        0 0 0.1vw $first-color,
        0 0 0.1vw $first-color,
        0 0 0.1vw $first-color,
        0 0 0.4vw $first-color,
        0 0 0.8vw $first-color,
        0.5vw 0.5vw 0.1vw rgba($second-color, 0.45), 
        1vw 1vw 0.2vw rgba($third-color, 0.4), 
        2vw 3vw 0.3vw rgba($fourth-color, 0.35),
        3vw 2vw 0.4vw rgba($fifth-color, 0.3),
        4vw 5vw 0.6vw rgba($sixth-color, 0.25), 
        -0.5vw -0.5vw 0.1vw rgba($second-color, 0.45), 
        -1vw -1vw 0.2vw rgba($third-color, 0.4), 
        -2vw -3vw 0.3vw rgba($fourth-color, 0.35),
        -3vw -2vw 0.4vw rgba($fifth-color, 0.3),
        -4vw -5vw 0.6vw rgba($sixth-color, 0.25), 
        -0.5vw 0.5vw 0.1vw rgba($second-color, 0.45)
}

@mixin pop-text {
    @include pop-text-mixin($first, $second, $third, $fourth, $fifth, $sixth); 
    animation: pop-text-kf;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes pop-text-kf {
    0%  {
        @include pop-text-mixin($first, $second, $third, $fourth, $fifth, $sixth); 
    }
    15%   {
        @include pop-text-mixin($sixth, $first, $second, $third, $fourth, $fifth); 
    }
    30%  {
        @include pop-text-mixin($fifth, $sixth, $first, $second, $third, $fourth);
    }
    45%  {
        @include pop-text-mixin($fourth, $fifth, $sixth, $first, $second, $third);
    }
    60%  {
        @include pop-text-mixin($third, $fourth, $fifth, $sixth, $first, $second);
    }
    85%  {
        @include pop-text-mixin($second, $third, $fourth, $fifth, $sixth, $first);
    }      
}

:host {
    h1 {
        @include pop-text;
    }
} 